@import "variables";

.error-message {
  width: 85%;
  text-align: center;
  &__icon {
    background-color: $brand-dark-grey;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 10px;
    svg {
      position: relative;
      top: -5px;
      fill: #fff;
      height: 50px;
    }
  }
  h2 {
    margin-bottom: 10px;
    color: $brand-light-grey;
    font-size: $font-size-xxl;
  }
  p {
    margin-bottom: 20px;
    color: $brand-light-grey;
    font-size: $font-size-xxl;
  }
  &--centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--light {
    color: $brand-dark-grey;
  }
}