@import "variables";
@import "functions";

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.login-screen{
  text-align: center;

  /* iOS Specific styles */
  .platform-ios & {
    &__logo {
      top: 20px + $ios-header-offset;
    }
  }

  &__animated-logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    svg {
      height: 100px;
    }
    #path {
      stroke-dasharray: 600 540;
      stroke-dashoffset: -1140;
      animation: draw 1.5s linear infinite;
    }
  }

  &__logo {
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: 20px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    h2 {
      margin-bottom: 20px;
    }
  }

  &__terms {
    color: grey(70%);
    margin-bottom: 20px;
  }

  &__carousel {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__pagination {
    margin-bottom: 20px;
  }

}