<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>58335905653-29v1qnl2mv6l2d9kr6garg2vd09g3d5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58335905653-29v1qnl2mv6l2d9kr6garg2vd09g3d5n</string>
	<key>API_KEY</key>
	<string>AIzaSyCs5fARP8BIfqi21-_trVwgfnfURouTA4E</string>
	<key>GCM_SENDER_ID</key>
	<string>58335905653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clikdapp</string>
	<key>PROJECT_ID</key>
	<string>clikd-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clikd-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:58335905653:ios:89b0428fb4636709</string>
	<key>DATABASE_URL</key>
	<string>https://clikd-app.firebaseio.com</string>
</dict>
</plist>