@import "functions";
@import "variables";

.profile-screen {
  &__menu-icon {
    position: absolute;
    padding: 10px;
    height: 44px;
    width: 30px;
    right: 0;
    top: 0;
    background-color: transparent;
    svg {
      fill: #fff;
      height: 16px;
    }
  }
}