.multi-select-row {
  &__wrapper {
    position: relative;
    select {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }  
  .platform-browser & {
    .list-row {
      flex-wrap: wrap;
    }
    &__wrapper select {
      opacity: 1;
      position: relative;
      width: 100%;
      flex: 1 0 100%;
    }
  }
}