@import "functions";

.take-test-screen {
  h2 {
    display: inline-flex;
    line-height: 30px;
  }
  .title-bar {
    padding: 7px 0 0 0;
    /* iOS specific styles */
    .platform-ios & {
      padding-top: 5px + $ios-header-offset;
      min-height: $title-bar-height + $ios-header-offset;
    }
  }
  &__title-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
  }
}