@import "variables";

.question-thumb {
  display: flex;
  flex-direction: column;
  border: solid 1px #fff;
  &__answer {
    width: 100%;
    flex-grow: 1;
    position: relative;
  }
  &__question {
    flex-shrink: 0;
    padding: 12px 8px;
    background-color: #fff;
    color: $brand-dark-grey;
    font-size: $font-size-s;
    text-align: center;
  }
}